/* Default for extra small devices (phones) */
.sidenav, .search-section, .chat-content, .info-section {
        width: 50%;
        height: 100vh;
    padding: 10px;
    

}

/* Small devices (tablets) */
@media (min-width: 576px) {
    .sidenav {
        width: 5%;
        float: left;
    }
    
    .search-section {
        width: 15%;
        float: left;
    }

    .chat-content {
        width: 30%;
        float: left;
    }

    .info-section {
        width: 10%;
        float: none;
        clear: both;
    }
}

/* Medium devices (desktops) */
@media (min-width: 668px) {
    .sidenav {
        width: 5%;
    }

    .search-section {
        width: 20%;
    }

    .chat-content {
        width: 50%;
    }

    .info-section {
        width: 10%;
        float: right;
        clear: none;
    }
}

/* Clear floats for all sections */
.row::after {
    content: "";
    display: table;
    clear: both;
    background-color: #def3e2;
}
